@import "tailwindcss";
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  color: var(--color-Lumira-Black);
}

@theme {
  --breakpoint-tablet: 640px;
  --breakpoint-dekstop: 1440px;

  --color-Lumira-Black: #000000;
  --color-Lumira-Warning-200: #FEDF89;
  --color-Lumira-Warning-500: #F79009;
  --color-Lumira-Warning-600: #DC6803;
  --color-Lumira-Rose-25: #FFF5F6;
  --color-Lumira-Rose-200: #FECDD6;
  --color-Lumira-Rose-500: #F63D68;
  --color-Lumira-Rose-600: #E31B54;
  --color-Lumira-Pink-600: #dd2590;
  --color-Lumira-Pink-300: #FAA7E0;
  --color-Lumira-Pink-400: #f670c7;
  --color-Lumira-Pink-50: #fdf2fa;
  --color-Lumira-Gray-50: #f9fafb;
  --color-Lumira-Gray-100: #f2f4f7;
  --color-Lumira-Gray-200: #eaecf0;
  --color-Lumira-Gray-300: #d0d5dd;
  --color-Lumira-Gray-400: #98A2B3;
  --color-Lumira-Gray-500: #667085;
  --color-Lumira-Gray-600: #475467;
  --color-Lumira-Gray-700: #344054;
  --color-Lumira-Gray-800: #1D2939;
  --color-Lumira-Gray-900: #101828;
  --color-Lumira-Pink-200: #fcceee;
  --color-Lumira-Pink-700: #c11574;
  --color-Lumira-Pink-900: #851651;
  --color-Lumira-Indigo-25: #f5f8ff;
  --color-Lumira-Indigo-100: #e0eaff;
  --color-Lumira-Indigo-200: #c7d7fe;
  --color-Lumira-Indigo-400: #8098f9;
  --color-Lumira-Indigo-500: #6172F3;
  --color-Lumira-Indigo-600: #444ce7;
  --color-Lumira-Indigo-700: #3538cd;
  --color-Lumira-Border-Gray: #e1e1e1;
  --color-Lumira-BlackOpium: #231f1d;
  --color-Lumira-Green-300: #73E2A3;
  --color-Lumira-Green-500: #16B364;
  --color-Lumira-Green-600: #099250;
  --color-Lumira-Yellow-400: #FAC515;
  --color-Lumira-Cyan-600: #088AB2;
  --color-Lumira-Teal-600: #0E9384;
}

.blur-custom {
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* penting untuk Safari */
}

.ini-blur {
  backdrop-filter: blur(24px) !important;
  -webkit-backdrop-filter: blur(24px); /* penting untuk Safari */
}

.gradient-slider {
  background: linear-gradient(270deg, rgba(174, 13, 102, 0) 0%, #ae0d66 100%);
}
/* Grand opening deals! Flat DR 100k discount on selected items */
.slider-left {
  animation: slide-left 20s infinite linear;
}
.slider-right {
  animation: slide-right 20s infinite linear;
}

@keyframes slide-left {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-100%);
  }
}
@keyframes slide-right {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(100%);
  }
}

/* card slider */
.slider-left-card {
  animation: slide-left-card 28s infinite ease-in-out;
}

@keyframes slide-left-card {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-80%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slider-card:hover .slider-left-card {
  animation-play-state: paused;
}
/* Grand opening card */

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink-grand {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.blink-grand {
  animation: blink-grand 1s ease-in-out infinite;
}

/* text gradient */
.text-radial-gradient {
  background: radial-gradient(52.92% 223.92% at 46.63% 50%, #444ce7 0%, #ff008b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
